:root {
  --color-neutral-300: #fcfaee;
  --color-neutral-400: #f3f1d4;
  --color-neutral-900: #1a1a1a;

  --color-primary-300: #9466ff;
  --color-primary-400: #8257e6;

  --color-secondary-200: #74767b;
  --color-secondary-300: #7a786a;
  --color-secondary-400: #6e6c60;
  --color-secondary-900: #3a3c40;

  --color-shape-400: #dbd9ce;

  --color-fundo: #2E282B;
  --color-destaque: #c10000;
}

@font-face {
  font-family: "Monument";
  src: url("/fonts/MonumentExtended-Ultrabold.woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Monument";
  src: url("/fonts/MonumentExtended-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "P";
  src: url("/fonts/UniviaPro-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Product Sans";
  src: url("https://fonts.gstatic.com/s/productsans/v13/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Product Sans";
  src: url("https://fonts.gstatic.com/s/productsans/v13/pxicypQkot1TnFhsFMOfGShdrPKbT2lB.woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Philosopher";
  src: url("/fonts/Philosopher-BoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

/* ========================
* ===== Configurações =====
=========================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

/* html,
body {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
} */

html {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1px;
  bottom: 1px;
}

body {
  font-family: "Product Sans";
  font-size: 1.3125rem;
  line-height: 1.4;
  /* background-color: #000; */
}

/* ========================
* ======== Section ========
=========================== */
section {
  padding: 80px 0;
}

@media screen and (min-width: 480px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 80px 0;
  }
}

@media screen and (min-width: 1200px) {
  section {
    padding: 80px 0;
  }
}

/* ========================
* ======== Wrapper ========
=========================== */
.wrapper {
  margin: auto;
  padding: 0 20px;
}

@media screen and (min-width: 480px) {
  .wrapper {
    width: 480px;
    padding: initial;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

/* ========================
* ======== Letras =========
=========================== */
@media screen and (min-width: 480px) {
  body {
    font-size: 1.6125rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.9125rem;
  }
}

@media screen and (min-width: 992px) {
  /* body {
        font-size: 2.2125rem;
    } */
}

@media screen and (min-width: 1200px) {
  /* body {
        font-size: 2.5125rem;
    } */
}

::selection {
  color: #fff;
  background: #c10000;
}

/* ========================
* ======== Títulos ========
=========================== */

h1,
h2 {
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 1em;
  color: #fff;
}

h1 {
  font-size: 1.4em;
}

h1::first-letter {
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
}

h2::first-letter {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1rem;
  color: #fff;
}

span {
  font-family: 'Product Sans';
  font-size: 1rem;
  font-weight: 600;
  /* letter-spacing: 2px; */
  text-decoration: none;
  line-height: 2.4rem;
  /* margin-bottom: 1em; */
  color: #fff;
  /* opacity: 0.7; */
}

a {
  font-family: 'Product Sans';
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 2.4rem;
  margin-bottom: 1em;
  color: #fff;
  /* opacity: 0.7; */
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-bottom: 1em;
  color: #fff;
  /* opacity: 0.7; */
}

ul,
li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
  list-style: none;
  /* margin-bottom: 1em; */
  color: #fff;
  /* opacity: 0.7; */
}

/* ========================
* ======== Botões ========
=========================== */
.botaoPadrao {
  width: 250px;
  display: block;
  /* position: absolute;
    bottom: 0;
    left: 50%; */
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  /* background: #c10000; */
  background: #000;
  /* transform: translateX(-50%) */
  /* transition: .2s all ease-in-out; */
}

/* ========================
* ======== Menu ========
=========================== */
.menu {
  position: fixed;
  left: 20px;
  top: 50%;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-evenly;
  transform: translateY(-50%);
  transition: 0.3s all ease;
  opacity: 0;
}

.menu a {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: 0.3s all ease;
  opacity: .65;
}

.show {
  opacity: 1 !important;
}

.active {
  font-size: 18px !important;
  opacity: 1 !important;
}

/* ========================
* ======== Seção ========
=========================== */
section {
  min-height: 100vh;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

/* ========================
* ======== Rodapé ========
=========================== */

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

/* ========================
* ======== Subir ========
=========================== */
@media screen and (max-width: 768px) {
  .subirPagina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    margin-bottom: initial;
    border-radius: 20px 10px;
    background-color: #25D366;
    z-index: 1000;
    transition: 0.3s all ease;
  }

  .subirPagina:hover {
    background-color: gray;
  }
}